body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* barra de menu*/

/* .img-logo {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin-left: 30px;
} */
/* 
ul {
  list-style: none;
} */


header {
  background: rgba(84, 150, 255,0);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: .3s;
}

header.header-scroll {
  background: rgba(84, 150, 255,0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

#logo {
padding: 15px 0;
width: 50px;
}

#menu > ul {
margin: 0;
padding: 0;
}


#menu > ul > li {
  margin: 0;
  padding: 0;
  display: inline;
}

#menu > ul > li > a {
  font-size: 14px;
  padding: 22px 12px;
  line-height: 80px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: .4s;
}
#menu-title {
  font-size: 18px;
  font-weight: 700;

}

#menu > ul > li > a:hover {
opacity: .8;
}

#btn-toggle-menu {
  cursor: pointer;
  display: none;
  position: relative;
  width: 28px;
  float: right;
  padding: 14px 0;
}

#btn-toggle-menu div {
  opacity: 1;
  background-color: #fff;
  height: 3px;
  border-radius: 3px;
  margin: 2px 0;
  float: right;
  transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#btn-toggle-menu div:first-child, #btn-toggle-menu div:nth-child(3n) {
  width: 80%;
}

#btn-toggle-menu div:nth-child(2n), #btn-toggle-menu div:nth-child(4n) {
  width: 100%;
}

#btn-toggle-menu.menu-close div:first-child, #btn-toggle-menu.menu-close div:nth-child(3n){
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

#btn-toggle-menu.menu-close div:nth-child(2n) {
  -webkit-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
  position: absolute;
  top: 18px;
}

#btn-toggle-menu.menu-close div:nth-child(4n) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
  position: absolute;
  top: 18px;
}

#menu-mobile {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  max-width: 100%;
  background-color: #e4e4e4;
  box-shadow: 12px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#menu-mobile button, #menu-mobile button:focus {
  outline: none;
  position: relative;
  width: 100%;
  border: none;
  padding: 16px 35px 16px 14px;
  margin-bottom: 2px;
  text-align: left;
  background-color: #fff;
  font-size: 15px;
}


#menu-mobile p {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 14px;
}

@media(max-width: 1200px){
  header {
      height: 56px;
  }

  #logo {
      padding: 12px 0 18px;
      width: 40px;
  }

  #menu {
      display: none;
  }

  #btn-toggle-menu {
      display: block;
  }
}


/*Banner*/

.banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.png);
  background-position: center center;
  background-size: cover;

  margin-bottom: 70px;
}

.principal {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
}
.btn-conhecer {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  border: solid 2px #5496FF;
  border-radius: 10px;
  padding: 10px 26px;
  background-color: #5496FF;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  transition: all 0.2s;
  animation-name: btn-subir;
  animation-duration: 0.9s;
}

.btn-conhecer:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.267);
  color: #fff;
}

.btn-conhecer:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.075);
}

.card-portfolio {
  height: 350px;
  background: url('../img/banner.png');
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}
.texto-portfolio {
  background: rgba(0, 0, 0, 0.78);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}

@keyframes btn-subir {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo-banner {
  text-align: center;
  color: #fff;
  margin-top: 145px;
}

/* Serviços */

.card-grupo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-servico {
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 20px;
}

.card-servico:hover {
  background-color: #5496FF;
  color: #fff;
}

.card-servico div {
  text-align: center;
  padding: 10px;
}

.card-img img {
  padding: 40px 0;
  width: 70px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.img-branco {
  filter: blur(0px) brightness(0%) contrast(100%) grayscale(0%) hue-rotate(50deg) invert(100%) opacity(97%) saturate(72%) sepia(0%);
}


@media(max-width: 1200px) {
  .card-grupo .col-sm-4 {
    flex: 100%;
    max-width: 100%;
    width: 150px;
  }

}
/* Contato */
  .box-contato {
    background-image: url(../img/banner-footer.png);
    background-position: center center;
    background-size: cover;
  }

.contato {
  text-align: center;
  margin-top: 100px;
  color: #fff;
}

.ajuda-contato {
  text-transform: uppercase;
  padding: 20px 0;
}

button.btn.btn-contato {
  border: solid 4px;
  padding: 6px 22px;
  text-transform: uppercase;
  margin: 10px;
  color: #5496FF;
}

.form-row {
  padding: 50px;
}

.form-row p,
.form-row h4,
.form-row h2 {
  color: #fff;
  text-align: center;
}

.input-container {
  position: relative;
}

.input-container input {
  border: 0;
  border-bottom: 2px solid #fff;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

.input-container label {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

textarea,
input {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.textarea-container label {
  color: #fff;
  display: flex;
  font-size: 1rem;
}


.input-container input,
.input-container label {
  height: 3rem;
  font-size: 1rem;
  margin: 10px 0;
}


/* Interation */
.input-container input:valid,
.input-container input:focus {
  border: 0;
  border-bottom: 2px solid #5496FF;
}

.textarea-container textarea:focus {
  border: 1px solid #5496FF;
  box-shadow: 0 0 10px rgba(84, 150, 255, 0.7)
}

.input-container input:valid+label,
.input-container input:focus+label {
  color: #fff;
  font-size: .9rem;
  top: -35px;
  pointer-events: none;
}

button.btn-formulario {
  border: solid 2px;
  padding: 20px 100px;
  color: #fff;
}

button.btn-formulario:hover {
  background: #5496FF;
  color: #fff;
  border: #5496FF 2px solid;
}

#send {
  margin-top: 0;
}
@media(max-width:580px){
  #send {
    width: 100%;
    margin:  30px 0;
  }
  #data-contato {

  }
}

/*footer*/

.footer {
  background: #3965AD;
  width: 100%;
  height: auto;
}

.footer p {
  margin: 20px 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

