body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* barra de menu*/
.img-logo {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin-left: 30px;
}

ul {
  list-style: none;
}

.menu-nav {
  width: 100%;
  max-width: 1590px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #5496ff;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5496ff;
}

.open-nav {
  display: none;
}

nav {
  width: 100%;
  max-width: 700px;
}

.nome-logo {
  color: #ffffff;
}

nav .list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

nav .list-menu a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  padding: 5px;
}

nav .list-menu a:hover {
  color: #ffffff;
}

nav .list-menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

nav .list-menu a:hover::before {
  width: 100%;
  transition: all 0.3s ease;
}

/*Banner*/

.banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.png);
  background-position: center center;
  background-size: cover;

  margin-bottom: 130px;
}

.principal {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons i {
  float: right;
}

.btn-cadastrar {
  width: 150px;
  background-color: #5496FF;
  transition: all 0.2s;

  animation-name: btn-subir;
  animation-duration: 0.9s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
}

@keyframes btn-subir {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-conhecer {
  font-size: 22px;
  color: #fff;
  border: solid 2px #5496FF;
  border-radius: 10px;
  padding: 10px 26px;
  background-color: #5496FF;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 120px;
  transition: all 0.2s;

  animation-name: btn-subir;
  animation-duration: 0.9s;
}

.btn-conhecer:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.267);
  color: #fff;
}

.btn-conhecer:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.075);
}

.titulo-banner {
  text-align: center;
  color: #fff;
  margin-top: 145px;
  text-transform: capitalize;
}

/* Serviços */

.card-grupo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-servico {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 20px;
}

.card-servico:hover {
  background-color: #5496FF;
  color: #fff;
}

.card-servico div {
  text-align: center;
}

.card-img img {
  padding: 40px 0;
  width: 70px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.img-branco {
  filter: blur(0px) brightness(0%) contrast(100%) grayscale(0%) hue-rotate(50deg) invert(100%) opacity(97%) saturate(72%) sepia(0%);
}

.box-contato {
  background-image: url(../img/banner-footer.png);
  background-position: center center;
  background-size: cover;
}

/* Contato */
.contato {
  text-align: center;
  margin-top: 100px;
  color: #fff;
}

.ajuda-contato {
  text-transform: uppercase;
  padding: 20px 0;
}

button.btn.btn-contato {
  border: solid 4px;
  padding: 6px 22px;
  text-transform: uppercase;
  margin: 10px;
  color: #5496FF;
}

.form-row {
  padding: 50px;
}

.form-row p,
.form-row h4,
.form-row h2 {
  color: #fff;
  text-align: center;
}

.input-container {
  position: relative;
}

.input-container input {
  border: 0;
  border-bottom: 2px solid #fff;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

.input-container label {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

textarea,
input {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

}

.textarea-container label {
  color: #fff;
  display: flex;
  font-size: 1rem;
}


.input-container input,
.input-container label {
  height: 3rem;
  font-size: 1rem;
  margin: 10px 0;
}


/* Interation */
.input-container input:valid,
.input-container input:focus {
  border: 0;
  border-bottom: 2px solid #5496FF;

}

.textarea-container textarea:focus {
  border: 1px solid #5496FF;
  box-shadow: 0 0 10px rgba(84, 150, 255, 0.7)
}

.input-container input:valid+label,
.input-container input:focus+label {
  color: #fff;
  font-size: .9rem;
  top: -35px;
  pointer-events: none;
}

button.btn-formulario {
  border: solid 2px;
  padding: 20px 100px;
  color: #fff;
}

button.btn-formulario:hover {
  background: #5496FF;
  color: #fff;
  border: #5496FF 2px solid;
}

#send {
  margin-top: 0;
}

/*footer*/

.footer {
  background: #3965AD;
  width: 100%;
  height: auto;
}

.footer p {
  margin: 20px 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.text-uppercase.font-weight-bold {
  text-align: center;
  color: #5496FF;
}

.menu{
  transition: 0.3s ease;
}

/*novo menu*/

@media (max-width: 550px) {
  nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #5496ff;
  }

  nav .list-menu {
    flex-direction: column;
    margin: 0;
    padding: 60px 0 0 0;
  }

  nav .list-menu a {
    display: block;
    margin-bottom: 20px;
  }

  .open-nav {
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    z-index: 3;
  }

  .open-nav i {
    color: #fff;
  }

  nav.menu.active {
    left: 0;
  }
}